
body {
    background-color: pink;
}

.GridContainer {
    border: #A53060 1px dotted;
}

.Row {
    height: calc(500px/16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    background-color: dark palevioletred;
    border: 1px solid black;
    
    height: calc(500px/16);
    width: calc(500px/16);

    transition: all 0.3s ease-out;
}

.Box:hover {
    background-color: #A53060;
}