
body {
    background-color: pink;
}

.GridContainer {

}

.Row {
    height: calc(500px/16);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Box {
    background-color: dark palevioletred;
    border: 1px solid black;
    
    height: calc(500px/16);
    width: calc(500px/16);
}

.Box:hover {
    background-color: red;
}